* {
    box-sizing: border-box;
    font-family: Cabin;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

main {
    background: #eeeeef;
}

.header__categories,
.header__menu,
.product__footer,
.product-cards__marker {
    display: flex;
    justify-content: space-between;
}
.product__footer,
.header__box,
.header__logo-text,
.product_button  {
    color: #F8FDFE;
}

.product_description,
.header__box,
.category__content,
.product_button,
.product__footer,
.product-cards__marker {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.menu__items,
.product__footer {
    padding: 32px 52px;
}

.header__logo,
.header__box {
    display: flex;
    align-items: center;
}

.header__menu {
    padding: 16px 52px;
    background: #10BBD5;
}

.header__logo-text {
    padding-left: 4px;
    font-size: 24px;
    font-weight: 700;
}

.header__box {
    border: 0;
    background: 0;
}

.header__container {
    position: fixed;
    width: 1400px;
    z-index: 1000;
}

.header__box-img {
    padding-left: 8px;
}

.header__category {
    display: flex;
}

.header__categories {
    padding: 4px 52px;
    background: #FFFFFF;
}

.category__content {
    color: #000000;
}

.categories__content:nth-child(2) {
    padding: 0 40px;
}

.menu__items {
    padding-bottom: 120px;
    position: relative;
}

.div-bolt {
    height: 106px;
}

.menu__items-text {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #1F1F1F;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
}

.menu__product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-top: 24px;
}

.product-cards {
    position: relative;
    box-sizing: border-box;
    padding: 32px;
    background: #F8FDFE;
    border: 1px solid #A8A8A8;
    width: 306px;
}

.product__wrapper {
    padding-bottom: 16px;
    display: block;
    text-align: center;
}

.product_img {
    width: 178px;
}

.product-cards__marker {
    position: absolute;
    top: 32px;
    left: 32px;
    padding: 4px 8px;
    background: #4200FF;
    border-radius: 4px;
}

.marker-new {
    background: #AF39E7;
    margin-left: 4px;
}

.marker-discount {
    background: #EA33C0;
}

.second-marker {
    left: 72px;
}

.marker-gap {
    left: 86px;
}

.product_title {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid #A8A8A8;
}

.product_description {
    color: #8E8E8E;
    padding-bottom: 8px;
}

.product_price {
    padding-bottom: 16px;
    color: #E90000;
    font-size: 24px;
    line-height: 32px;
    display: inline-block;
}

.price-discount {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #8E8E8E;
    text-decoration: line-through;
    padding-left: 24px;

}

.product_button {
    background: #4C394E;
    padding: 8px 72px;
    border-radius: 4px;
}

.second-button {
    background: #4D762D;
    padding: 8px 94px;
}

.button-chat {
    position: fixed;
    top: 592px;
    right: 28px;
    background: none;
    border: 0;
    z-index: 1000;
}

.product__footer {
    background: #4C394E;
}